/* fiche style css */

@keyframes pulseLight {
    0% {
      box-shadow: 0 2px 5px rgba(255, 255, 255, 0.3);
    }
    50% {
      box-shadow: 0 2px 6px rgba(255, 255, 255, 0.8);
    }
    100% {
      box-shadow: 0 2px 5px rgba(255, 255, 255, 0.3);
    }
  }
  

header {
    padding: 10px 0;
    width: 100%;
    top: 0;
    background: #020509;
    border-bottom: 1px solid #fff;
    box-shadow: 0 2px 5px rgba(67, 176, 241, 0.7);
    animation: pulseLight 2s infinite ease-in-out;

}

body {
    font-family: Arial, sans-serif;
    background-color: #161b22;
    margin: 0;
    padding: 0;
}

.Btn {
    width: 45px;
    height: 45px;
    background: #020509;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: none;
    z-index: 1000;
  }


  .scroll-to-top {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease, visibility 0.4s ease;
  position: fixed;
  cursor: pointer;
  z-index: 999;
}


.scroll-to-top.visible {
    opacity: 1;
    visibility: visible;
  }
  
  
.arrow path {
    fill: #fff;
}

.nav-menu-mobile {
    position: fixed;
    top: 0;
    right: 0;
    width: 85%;
    height: 90vh; /* Utilise la hauteur de l'écran */
    background-color: #071322;
    z-index: 999;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px 20px;
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.3);
    overflow-y: visible;
  }
  
  .nav-menu-mobile.active {
    transform: translateX(0); 
  }
  
  /* Mobile header avec logo */
  .mobile-header {
    border-bottom: 1px solid #8b949e;
    padding-bottom: 15px; 
    margin-bottom: 20px;
  }
  
  .mobile-logo {
    width: 56px;
    height: auto;
  }
  
  /* Mobile nav links */
  .mobile-nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 10px;
    gap: 25px;
  }
  
  .mobile-nav-links li a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
  }
  
  /* Carré avec texte et réseaux sociaux */
  .social-media-box {
    background-color: #121212;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fff;
  }
  
  .social-media-box p {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 500;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #020509;
  }
  
  .instagram-link {
    color: #fff;
    font-size: 30px;
    display: inline-block;
    margin: 0 10px;
  }
  
  /* Hamburger */
  .hamburger {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin: 10px;
    cursor: pointer;
    z-index: 1001;
    transition: transform 0.4s ease;
  }
  
  .hamburger .bar {
    width: 30px;
    height: 4px;
    background-color: #fff;
    margin: 4px 0;
    transition: 0.4s;
  }
  
  .hamburger.active .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger.active .bar:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
  }
  
  /* Empêcher le scroll quand le menu hamburger est ouvert */
  body.menu-active {
    overflow: hidden; /* Désactive le scroll */
  }
  
  /* Responsive : menu desktop caché */
  @media screen and (max-width: 768px) {
    .nav-menu {
      display: none;
    }
  
    .hamburger {
      display: flex;
    }
  }

  footer {
    background: #161b22;
    color: #8b949e;
    text-align: center;
    padding: 1px 0;
    margin-top: 10px;
    width: 100%;
    margin-bottom: 20px;
  }   

  .container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    flex-wrap: wrap;
}
    .logo {
    height: 70px;
    margin-right: 50px;
    margin-top: 10px;
}

.nav-menu ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 25px;
}

.nav-menu li {
    display: inline;
}

.nav-menu a {
    text-decoration: none;
    color: #f4f6fc;
    font-size: 16px;
    transition: color 0.3s ease;
    text-decoration: none;
    position: relative;
}


.nav-menu a:hover {
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff;
}
.nav-menu a::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 2px;
    width: 100%;
    background: #fff;
    box-shadow: 0 0 5px #fff, 0 0 10px #fff;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
  }
  
  .nav-menu a:hover::after {
    transform: scaleX(1);
  }

hr {
    margin-top: -4px;
}

.footer-text {
    font-size: 13px;
    font-weight: lighter;
}

.introduction-bloc {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 90%;
    border: 1px solid #2d333b;
    border-radius: 7px;
    background-color: #0d1117;
    padding: 16px;
    font-family: Helvetica, sans-serif;
  }

  .introduction-bloc .bloc-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .introduction-bloc .separator {
    width: 5px;
    height: 20px;
    background-color: #fff;
    border-radius: 2px;
    animation: pulseLight 2s infinite;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.3);
  }
  
  .introduction-bloc .bloc-title {
    color: #f4f6fc;
    font-size: 14px;
    font-weight: bold;
  }
  
  .introduction-bloc .bloc-text {
    color: #8b949e;
    font-size: 13px;
  }

  .second-bloc {
    display: flex;
    align-items: center;
    background-color: #0d1117;
    border: 1px solid #2d333b;
    margin-top: 40px;
    margin-bottom: 20px;
    border-radius: 7px;
    width: 90%;
    padding: 16px;
    font-family: Helvetica, sans-serif;
    margin: 0 auto;
  }
  
  .second-bloc .bloc-title {
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 6px;
  }
  
  .second-bloc .bloc-text {
    color: #8b949e;
    font-size: 13px;
  }

  .second-bloc .bloc-content {
    flex: 1;
  }
  
  .second-bloc .bloc-image img {
    width: 70px;
    height: auto;
    border-radius: 8px;
  }
  
  .second-bloc .separator {
    width: 1px;
    height: 60px;
    background-color: #8b949e;
    margin: 0 16px;
  }

  .third-bloc {
    width: 90%;
    margin: 0 auto;
    border: 1px solid #2d333b;
    border-radius: 7px;
    background-color: #0d1117;
    padding: 16px;
    font-family: Helvetica, sans-serif;
  }
  
  .third-bloc .bloc-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
  }
  
  .third-bloc .separator {
    width: 5px;
    height: 20px;
    background-color: #fff;
    border-radius: 2px;
    animation: pulseLight 2s infinite;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.3);
  }
  
  .third-bloc .bloc-title {
    color: #f4f6fc;
    font-size: 14px;
    font-weight: bold;
  }
  
  .third-bloc .video-grid {
    display: flex;
    gap: 42px;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .third-bloc .video-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
  }
  
  .third-bloc .video-preview {
    border: 1px solid #fff;
    border-radius: 7px;
    overflow: hidden;
    text-decoration: none;
    display: block;
    width: 100%;
  }
  
  .third-bloc .video-preview img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 6px;
  }
  
  .third-bloc .video-title {
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 4px;
    color: #8b949e;
  }
  
  .third-bloc .video-meta {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    margin-top: 4px;
    margin-bottom: 10px;
  }
  
  .third-bloc .video-rating {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  
  .third-bloc .star-icon {
    width: 15px;
    height: 15px;
    margin-top: 10px;
  }
  
  .third-bloc .rating-text {
    font-size: 11px;
    color: #8b949e;
    margin-top: 10px;
  }
  
  .third-bloc .meta-separator {
    width: 2px;
    height: 12px;
    background-color: #8b949e;
    border-radius: 2px;
    margin-top: 10px;
  }
  
  .third-bloc .video-category {
    font-size: 11px;
    color: #8b949e;
    margin-top: 10px;
  }
  
  .third-bloc .video-preview:visited {
    color: #000;
  }
  
  
  @media (max-width: 768px) {
    .introduction-bloc .second-bloc .third-bloc .fifth-bloc{
        width: 83%;
    }
  }

  .fourth-bloc {
    width : 100%;
    height: 280px;
    margin-top: 30px;
    background-color: #020509;
    border-top: 1px solid #2d333b;
    border-bottom: 1px solid #2d333b;
  }
  
  .fifth-bloc {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 90%;
    border: 1px solid #2d333b;
    border-radius: 7px;
    background-color: #0d1117;
    padding: 16px;
    font-family: Helvetica, sans-serif;
  }
  
  .fifth-bloc .bloc-title {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 6px;
  }
  
  .fifth-bloc .bloc-text {
    color: #8b949e;
    font-size: 13px;
  }
  
  
  
